body {
    background-color: #494949;
    overflow-x: hidden;
    color: white;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
}

.tv-program {
    border: solid 2px;
}

.program-button {
    overflow: auto;
}

.responsive {
    width : 100%;
    height: auto;
}